<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>匀享车险</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/app/css/aui.css" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/app/css/style.css" />
</head>

<body id="login">
    <div class="aui-content aui-content-marginb-15">
        <form id="orderform">
            <input id="openid" type="hidden" name="wxopenid" value="{$result['openid']}">
            <input id="unionid" type="hidden" name="wxunionid" value="{$result['unionid']}">
            <input id="nickname" type="hidden" name="wxnickname" value="{$result['nickname']}">
            <input id="headimgurl" type="hidden" name="wxavatar" value="{$result['headimgurl']}">
            <input id="bdwx" type="hidden" name="bdwx" value="1">
            <input id="type" type="hidden" name="type" value="0">
            <input id="reco_phone" type="hidden" name="reco_phone" value="{$phone}">
            <ul class="aui-list aui-form-list">
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-input">
                            <input id="apply_phone" name="apply_phone" type="text" placeholder="请输入手机号/邮箱" value="">
                        </div>
                    </div>
                </li>
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-input">
                            <input id="smscode" name="smscode" type="text" placeholder="请输入验证码" value="">
                            <span id="getsmscode" onclick="getsmscode()">获取验证码</span>
                        </div>
                    </div>
                </li>
                <li class="aui-list-item">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-input">
                            <input id="password" name="password" type="password" placeholder="请输入密码" value="">
                        </div>
                    </div>
                </li>
            </ul>
        </form>
    </div>
    <div class="aui-text-center">
        <button type="button" onclick="reg()">注册</button>
    </div>
</body>

</html>
<script type="text/javascript" src="__STATIC__/app/script/jquery.min_1.11.1.js"></script>
<script type="text/javascript" src="__STATIC__/app/script/api.js"></script>
<script type="text/javascript" src="__STATIC__/app/script/openWin.js"></script>
<script type="text/javascript" src="__STATIC__/app/script/aui-toast.js"></script>
<script type="text/javascript">
var mainurl = "http://chexian.302s.cn/mobile/html/index_frm.html";
$(function() {
    {if $isuser eq 1}
        window.location = mainurl;
    {/if}
    if ($api.getStorage('openid') != undefined) {
        $("#openid").val($api.getStorage('openid'));
        $("#unionid").val($api.getStorage('unionid'));
        $("#nickname").val($api.getStorage('nickname'));
        $("#headimgurl").val($api.getStorage('headimgurl'));
        $("#bdwx").val(1);
    }
})

function reg() {
    var msgarray = new Array();
    $("input").each(function(index, element) {
        var vl = $(this).val();
        var msg = $(this).attr('placeholder');
        if (vl == "") {
            msgarray[index] = $(this).attr('placeholder');
        } else {
            msgarray[index] = 0;
        }
    });
    for (var i = 0; i < msgarray.length; i++) {
        if (msgarray[i] != 0) {
            alert("请输入信息!");
            return;
        }
    }
    var fromary = $("#orderform").serialize();
    // alert(fromary);
    $.post("/api/index/reg.do", fromary, function(ret) {
        if (ret == 1) {
            // alert('注册成功!');
            showDefault('loading');
            // closeWin('register');
        } else {
            alert(ret);
        }
    });
}

function getsmscode() {
    if ($("#apply_phone").val() == '') {
        api.alert({
            title: '信息有误',
            msg: '请输入手机号?'
        }, function(ret, err) {

        });
        return;
    }
    $("#getsmscode").addClass('gray');
    if (r != 60) {
        return;
    } else {
        int = self.setInterval("clock()", 1000);
        var fromary = $("#orderform").serialize();
        $.post("/api/index/sms_sendcode.do", fromary, function(ret) {
            if (ret == 1) {
                alert("短信已成功发送！");
            } else {
                alert(ret.msg);
            }
            return;
        });
    }

}

var toast = new auiToast();
function showDefault(type) {
    switch (type) {
        case "success":
            toast.success({
                title: "提交成功",
                duration: 2000
            });
            break;
        case "fail":
            toast.fail({
                title: "用户名或者密码错误，请重新输入！",
                duration: 2000
            });
            break;
        case "custom":
            toast.custom({
                title: "提交成功",
                html: '<i class="aui-iconfont aui-icon-laud"></i>',
                duration: 2000
            });
            break;
        case "loading":
            var phone = $("#apply_phone").val();
            var password = $("#password").val();
            $.post("/api/index/login.do", {
                phone: phone,
                password: password
            }, function(ret) {
                if (ret == 1) {
                    window.location = mainurl;
                } else {
                    alert('用户名或密码输入错误，请重新输入！');
                    $("#password").val('');
                }

            });
            break;
        default:
            // statements_def
            break;
    }
}
</script>