<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>layui</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="__STATIC__/layui/css/layui.css" media="all" />
<style>
	body{margin: 10px;}
	.layui-table a{ cursor: pointer;}
</style>
</head>
<body>  


<table class="layui-table" lay-data="{ url:'{$url}', limit:10 , limits: [1, 5, 10, 30] , page:true,  id:'idTest'}" lay-filter="demo" >
  <thead>
    <tr>
      <th lay-data="{field:'id', width:150, sort: true}">ID</th>
      <th lay-data="{field:'username', width:150}">用户名</th>
      <th lay-data="{field:'phone', width:150}">绑定手机</th>
      <th lay-data="{field:'car_license', width:150}">车牌号</th>
      <th lay-data="{field:'company', width:150}">投保公司</th>
      <th lay-data="{field:'client', width:150}">审核状态</th>
      <th lay-data="{field:'client', width:150}">投保险种/证件/详情</th>
      <th lay-data="{field:'addtime', width:150}">提交时间</th>
      <th lay-data="{field:'awaketime', width:150}">最后审核</th>
      <th lay-data="{ width:150}">操作</th>
    </tr>
  </thead>
</table> 
       
<script type="text/javascript" src="__STATIC__/layui/layui.js"></script>
<script>
layui.use('table',function(){
    var table = layui.table;
    //监听表格复选框选择
    table.on('checkbox(demo)', function(obj){
        console.log(obj)
    });

    var $ = layui.$, active = {
        reload: function(){
        var demoReload = $('#demoReload');
        table.reload('idTest', {
            where: {
                keyword: demoReload.val()
            }
        });
        }
    };    
    
    $('.demoTable .layui-btn').on('click', function(){
        var type = $(this).data('type');
        active[type] ? active[type].call(this) : '';
    }); 

    
});
	
function dourl(url,title,tips,area){
	layui.layer.open({
		title : title,
		type : 2,
		content : url,
		area: area,
		success : function(layero, index){
			setTimeout(function(){
				layui.layer.tips(tips, '.layui-layer-setwin .layui-layer-close', {
					tips: 3
				});
			},500)
		}
	})
}	
</script>

</body>
</html>