<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="__STATIC__/layui/css/layui.css" media="all" />
    <style>
        body {
            margin: 10px;
        }

        .layui-table a {
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="layui-form demoTable" style="line-height: 3.5" lay-filter="search">
        {if $type neq "a"}
        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
            <ul class="layui-tab-title switch-list">
                <li layui-type=""  class="{if $type===NULL}layui-this{/if}">提现查询</li>
                <li layui-data="0" class="{if $type==='0'}layui-this{/if}";>待初审</li>
                <li layui-data="1" class="{if $type==='1'}layui-this{/if}";>待复审</li>
                <li layui-data="2" class="{if $type==='2'}layui-this{/if}";>待打款</li>
                <li layui-data="3" class="{if $type==='3'}layui-this{/if}";>已结款</li>
                <!-- <li layui-data="4" class="{if $type==='4'}layui-this{/if}";>被驳回</li> -->
            </ul>
        </div>
        {/if}
        <input type="hidden" value="" id="stat"> 关键字搜索：
        {if isset($agentid) == false}
        <div class="layui-inline">
            <input class="layui-input" name="keyword" placeholder="订单号" id="keyword" autocomplete="off">
        </div>
        {/if}
        <label style="padding-left: 10px;">初审时间：</label>
        <div class="layui-inline">
            <input class="layui-input" id="first" readonly placeholder="开始日期 - 结束日期" type="text">
        </div>
        <label style="padding-left: 10px;">复审时间：</label>
        <div class="layui-inline">
            <input class="layui-input" id="second" readonly placeholder="开始日期 - 结束日期" type="text">
        </div>
        <label style="padding-left: 10px;">结款时间：</label>
        <div class="layui-inline">
            <input class="layui-input" id="pay" readonly placeholder="开始日期 - 结束日期" type="text">
        </div>
        <button class="layui-btn" data-type="reload">搜索</button>
        <button class="layui-btn" data-type="toexcel">导出数据</button>
    </div>
    <table class="layui-table content" lay-data="{ width: 'full-335',url:'{:url('user/getwithdraw',['type'=>$type])}', where:{    }, limit:10 , limits: [1, 5, 10, 30] , page:true,  id:'idTest'}"
        lay-filter="demo">
        <thead>
            <tr>
                <th lay-data="{checkbox:true, fixed: true}"></th>
                <th lay-data="{field:'id', width:80, sort: true, fixed: true}">ID</th>
                <th lay-data="{field:'ordernum', width:200}">提现订单号</th>
                <th lay-data="{field:'money', width:90}">金额</th>
                <th lay-data="{field:'bank', width:200}">银行信息</th>
                <th lay-data="{field:'addtime', width:180}">提交时间</th>
                <th lay-data="{field:'firstadmin', width:180}">初审人</th>
                <th lay-data="{field:'firsttime', width:180}">初审时间</th>
                <th lay-data="{field:'secondadmin', width:180}">复审人</th>
                <th lay-data="{field:'secondtime', width:180}">复审时间</th>
                <th lay-data="{field:'payadmin', width:180}">结款人</th>
                <th lay-data="{field:'paytime', width:180}">付款时间</th>
                <th lay-data="{fixed:'right', width:200 , templet: '#examinetypeTpl'}">操作</th>
            </tr>
        </thead>
    </table>

    <script type="text/html" id="examinetypeTpl">
        {if in_array("user_1",$sary)}<a lay-stat="1"  class="layui-btn layui-btn-xs {{#  if(d.examinetype !=0||d.examinetype==-1){ }}layui-btn-disabled {{#  } }}"  lay-event="examine">初审</a>{/if}
        {if in_array("user_2",$sary)}<a lay-stat="2" class="layui-btn layui-btn-xs layui-btn-warm  {{#  if(d.examinetype!=1||d.examinetype==-1){ }}layui-btn-disabled {{#  } }}"  lay-event="examine">复审</a>{/if}
        {if in_array("user_3",$sary)}<a lay-stat="3" class="layui-btn layui-btn-danger layui-btn-xs {{#  if(d.examinetype!=2||d.examinetype==-1){ }}layui-btn-disabled {{#  } }}" lay-event="examine">结算</a>{/if}
        {if in_array("user_-1",$sary)}<a lay-stat="-1" class="layui-btn layui-btn-danger layui-btn-xs huishou" lay-event="examine">回收</a>{/if}
    </script>
    <!-- updateexaminetype -->



    <script type="text/javascript" src="__STATIC__/layui/layui.js"></script>
    <script>
        layui.use(['form', 'table', 'jquery','laydate'], function () {
            var table = layui.table, form = layui.form, laydate = layui.laydate, $ = layui.jquery;
            //省市区三级联动
            form.on('select(province)', function (data) {
                var html = "<option value=''>选择城市</option>";
                $.post("{:url('lib/base/province')}", { id: data.value }, function (ret) {
                    for (var i = 0; i < ret.length; i++) {
                        console.log(ret[i].name);
                        html += "<option value='" + ret[i].id + "'>" + ret[i].name + "</option>";
                    }
                    $("#city").html(html);
                    form.render('select');
                });
            });
            form.on('select(city)', function (data) {
                var html = "<option value=''>选择地区</option>";
                $.post("{:url('lib/base/city')}", { id: data.value }, function (ret) {
                    for (var i = 0; i < ret.length; i++) {
                        console.log(ret[i].name);
                        html += "<option value='" + ret[i].id + "'>" + ret[i].name + "</option>";
                    }
                    $("#area").html(html);                                                                                                                                                                                                                                                                                                                                                   
                    form.render('select');
                });
            });
            //三个时间
            laydate.render({ 
                elem: '#first'
                , range: true
            });
            laydate.render({
                elem: '#second'
                , range: true
            });
            laydate.render({
                elem: '#pay'
                , range: true
            });
            //监听表格复选框选择
            table.on('checkbox(demo)', function (obj) {
                console.log(obj)
            });
            function hasClass(element, cls) {
                return (' ' + element.className + ' ').indexOf(' ' + cls + ' ') > -1;
            } 
            //监听工具条
            table.on('tool(demo)', function (obj) {
                var data = obj.data;
                if (obj.event === 'examine') {
                    var st = $(this).attr("lay-stat");;
                    if(hasClass(this, 'layui-btn-disabled')){
                        return false;
                    }
                    dourl("{:url('user/txinfo')}?st="+st+"&id=" + data.id, '查看详情', '点此返回', ['80%', '80%']);
                    return false;
                }
            });
            var active = {
                reload: function () {
                    var type = $('.switch-list').find('.layui-this').attr('layui-data');
                    table.reload('idTest', {
                        where: {
                            type: type,
                            keyword: $('#keyword').val(),
                            first: $('#first').val(),
                            second:  $('#second').val(),
                            pay: $('#pay').val()
                        }
                        , page: { curr: 1 }
                    });
                },
                toexcel: function () { //导出数据
                    var checkStatus = table.checkStatus('idTest'), data = checkStatus.data, ids = [];
                    var type = $('.switch-list').find('.layui-this').attr('layui-data');
                  
                    for (var i = 0; i < data.length; i++) {
                        ids[i] = data[i].id;
                    }
                    ids = ids.join(",");
                    var type = type ? type : '';
                    var get = '';
                    get += ids ? '&ids=' + ids : '';
                    get += type ? '&type='+ type :'';
                    get += $('#keyword').val() ? '&keyword=' + $('#keyword').val() : '';
                    get += $('#first').val() ? '&first=' + $('#first').val() : '';
                    get += $('#second').val() ? '&second=' + $('#second').val() : '';
                    get += $('#pay').val() ? '&pay=' + $('#pay').val() : '';
                    console.log(get);
                    
                    window.location = "{:url('user/getwithdraw')}" + "?toexcel=1" + get;
                }
              
                
            };

            $('.demoTable .layui-btn').on('click', function () {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });
            //切换全部，黑名单， 待审核和已审核
            $('.switch-list li').on('click', function () {
                $_this = $(this);
                if ($_this.hasClass('layui-this') === false) {
                    $('.switch-list li').removeClass('layui-this');
                    $_this.addClass('layui-this');
                    var type = $_this.attr('layui-data');
                    var type = type ? type : '';
                    table.reload('idTest', {
                        url: "{:url('user/getwithdraw')}"
                        ,page :{curr:1}
                        , where: {
                            type
                        } //设定异步数据接口的额外参数
                    });
                }
            })

            function dourl(url, title, tips, area = 'auth') {
                var index = layui.layer.open({
                    title: title,
                    type: 2,
                    content: url,
                    area: area,
                    shadeClose: true, //开启遮罩关闭
                    success: function (layero, index) {
                        setTimeout(function () {
                            layui.layer.tips(tips, '.layui-layer-setwin .layui-layer-close', {
                                tips: 3
                            });
                        }, 500)
                    }
                })
            }

        });
    </script>

</body>

</html>