<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>物流信息</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/font/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/swiper.min.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/jquery.min_1.11.1.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/swiper.animate.min.js"></script>
</head>

<body>
    <div id="header"></div>
    <div id="main">
        <div class="menu"><a>物流信息</a><i class="fa fa-angle-right"></i><a>待发保单</a><i class="fa fa-angle-right blue"></i><a class="blue">待发货</a></div>
        <div id="offer-write" class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="6"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="blue w1">车主姓名</td>
                        <td class="w2">某某某</td>
                        <td class="blue w1">身份证号</td>
                        <td class="w3">000000000000000000</td>
                        <td class="blue w1">车牌号码</td>
                        <td>0000000</td>
                    </tr>
                    <tr>
                        <td class="blue w1">行驶证号</td>
                        <td class="w2">000000</td>
                        <td class="blue w1">行驶证号</td>
                        <td class="w3">000000</td>
                        <td class="blue w1">订单号</td>
                        <td>0000000</td>
                    </tr>
                    <tr>
                        <td class="blue w1">创建时间</td>
                        <td colspan="5">XXXX年XX月XX日XX时XX分XX秒</td>
                    </tr>
                </tbody>
            </table>
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <div>身份证:</div>
                            <div class="imgl">
                                0
                            </div>
                            <div class="imgl">
                                0
                            </div>
                        </td>
                        <td>
                            <div>行驶证:</div>
                            <div class="imgl">
                                0
                            </div>
                            <div class="imgl">
                                0
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table">
                <tbody>
                    <tr>
                        <td class="text-r">
                            <span>XXXXXXXXXX险</span>
                            <input type="text" name="" value="" placeholder="请输入金额">
                            <span>元</span>
                            
                        </td>
                        <td class="text-r">
                            <span>XXXXXXXXXX险</span>
                            <input type="text" name="" value="" placeholder="请输入金额">
                            <span>元</span>
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="text-r">
                            <span>XXXXXXXXXX险</span>
                            <input type="text" name="" value="" placeholder="请输入金额">
                            <span>元</span>
                            
                        </td>
                        <td class="text-r">
                            <span>XXXXXXXXXX险</span>
                            <input type="text" name="" value="" placeholder="请输入金额">
                            <span>元</span>
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="text-r">
                            <span>XXXXXXXXXX险</span>
                            <input type="text" name="" value="" placeholder="请输入金额">
                            <span>元</span>
                            
                        </td>
                        <td class="text-r">
                            <span>XXXXXXXXXX险</span>
                            <input type="text" name="" value="" placeholder="请输入金额">
                            <span>元</span>
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="text-r">
                            <span>XXXXXXXXXX险</span>
                            <input type="text" name="" value="" placeholder="请输入金额">
                            <span>元</span>
                            
                        </td>
                        <td class="text-r">
                            <span>XXXXXXXXXX险</span>
                            <input type="text" name="" value="" placeholder="请输入金额">
                            <span>元</span>
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="text-r">
                            <span>XXXXXXXXXX险</span>
                            <input type="text" name="" value="" placeholder="请输入金额">
                            <span>元</span>
                            
                        </td>
                        <td class="text-r">
                            <span>XXXXXXXXXX险</span>
                            <input type="text" name="" value="" placeholder="请输入金额">
                            <span>元</span>
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="blmsg">
                            保单生效时间：XXXX年XX月XX日XX时 
                        </td>
                        <td class="brmsg">
                            总计:00000000元
                        </td>
                    </tr>
                     <tr>
                        <td colspan="2" class="address">
                            <i class="fa fa-map-marker"></i> 收货地址：XXXXXXXXXXXXXXXXXXXXXXXXXXX
                        </td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="botbtn">
            <a id="finish" class="btn btn-default cancel finish">确认发货</a>
        </div>
    </div>
    <div class="modal fade" id="msg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="out-content">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">提示消息</h4>
                    </div>
                    <div class="modal-body"><i class="fa fa-check-circle"></i>发货完成</div>
                    <div class="modal-footer">
                        <a href="{:url('index/index')}" type="button" class="btn cancel finish btn-return pull-left">返回首页</a>
                        <a href="{:url('logisticslist/index')}" type="button" class="btn cancel finish btn-return">返回物流信息</a>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>
</body>
<script src="js/public.js"></script>
<script type="text/javascript">
$("input").focus(function() {
    $('.fa-search').hide();
});
$("#finish").click(function(event) {
    $("#msg").modal('show');
});
</script>

</html>