<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>物流信息</title>
    <link rel="stylesheet" href="__STATIC__/insureradmin/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/insureradmin/css/font/css/font-awesome.min.css">
    <link rel="stylesheet" href="__STATIC__/insureradmin/css/swiper.min.css">
    <link rel="stylesheet" href="__STATIC__/insureradmin/css/animate.min.css">
    <link rel="stylesheet" href="__STATIC__/insureradmin/css/style.css">
    <script src="__STATIC__/insureradmin/js/jquery.min_1.11.1.js"></script>
    <script src="__STATIC__/insureradmin/js/bootstrap.min.js"></script>
    <script src="__STATIC__/insureradmin/js/swiper.min.js"></script>
    <script src="__STATIC__/insureradmin/js/swiper.animate.min.js"></script>
    <style>
            .topsearch .search-type {
                width: 600px;
            }
           .search-type .input_type {
                display: inline-block;
                vertical-align: middle;
                width: 40px;
                margin-top: 0px;
           }
           .search-type>span {
                display: inline-block;
                vertical-align: middle;
                line-height: 36px;
           }
        </style>
</head>

<body>
        
    <div id="header"></div>
    <div id="main">
        <div class="menu"><a>物流信息</a><i class="fa fa-angle-right blue"></i><a class="blue">{if $express_id =='wei'}待发保单{/if}{if $express_id =='dai'}待收保单{/if}{if $express_id =='shou'}用户已收{/if}</a></div>
        <div class="topsearch">
            <div class="search-input">
                <input type="text" name="keywords" value="{$keywords}" id="keywords"/>
                <button type="button" id="search">查询</button>
                <i class="fa fa-search"></i>
            </div>
            <div class="search-type">
                <span><label><input name="search" class="input_type" {if $radio == 'ordernumber'}checked{/if}  type="radio" value="ordernumber" >订单号</label></span>
                <span><label><input name="search" class="input_type" {if $radio == 'realname'}checked{/if} type="radio" value="realname">车主姓名</label></span>
                <span><label><input name="search" class="input_type" {if $radio == 'car_license'}checked{/if} type="radio" value="car_license">车牌号</label></span>
                <span><label><input name="search" class="input_type" {if $radio == 'id_license'}checked{/if} type="radio" value="id_license">身份证</label></span>
                <span><label><input name="search" class="input_type" {if $radio == 'codetime'}checked{/if} type="radio" value="codetime">日期</label></span></div>
        </div></label>
        <div id="offer-list" class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>订单号</th>
                        <th>车主姓名</th>
                        <th>身份证</th>
                        <th>车牌号</th>
                        <th>行驶证</th>
                        <!-- <th>操作人</th> -->
                        <th>创建时间</th>
                        <th>金额</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {volist name='list' id='b_order'}
                    <!-- 保单列表 -->
                    <tr class="blue">
                        <td>{$b_order.ordernumber}</td>
                        <td>{$b_order.realname}</td>
                        <td>{$b_order.id_license}</td>
                        <td>{$b_order.car_license}</td>
                        <td>{$b_order.car_code}</td>
                        <!-- <td>{$b_order.nickname}</td> -->
                        <td>{$b_order.codetime}</td>
                        <td>{$b_order.order_price}</td>
                        <td>
                            {switch name="express_id" }
                            {case value="wei"}<a href="logisticslistsave?rs={$b_order.rs}" class="chakan">发货</a>{/case}
                            {case value="dai"}<a href="logisticsdetail.html?rs={$b_order.rs}" class="chakan">查看物流</a>{/case}
                            {case value="shou"}<a href="logisticsdetail.html?rs={$b_order.rs}" class="chakan">查看物流</a>{/case}
                            {default /}
                            {/switch}
                        </td>
                    </tr>
                    {/volist}
                    {if $list->total() eq 0}
                    <tr class="blue"><td colspan="9">暂无数据</td></tr>
                    {/if}
                </tbody>
            </table>
        </div>
        <div class="pagermsg">
            共{$list->total()}条记录 每页{$list->listRows()}条记录 共{$list->lastPage()}页 当前第{$list->currentPage()}页
            <nav aria-label="Page navigation">
                {$list->render()}
            </nav>
        </div>
    </div>
</body>
<script type="text/javascript">
    var headerurl = '{:url("index/header")}';
</script>
    
<script src="__STATIC__/insureradmin/js/public.js"></script>
<script type="text/javascript">
$("input").focus(function() {
    $('.fa-search').hide();
});
$('#search').click(function(){
    if($('.input_type').is(':checked')) {
        var keywords = $('#keywords').val();
        var radio=$('input:radio[name="search"]:checked').val();
        location.href = "{:url('Logisticslist/index')}?express_id={$express_id}&keywords="+keywords+"&radio="+radio;
}
})
</script>

</html>