<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="__STATIC__/layui/css/layui.css" media="all" />
    <style>
        body {
            margin: 10px;
        }

        .layui-table a {
            cursor: pointer;
        }
    </style>
</head>

<body>
    <table class="layui-table">
        <tbody>
            <tr style="display:none">
                <td style=" width:20%;"></td>
                <td  style=" width:80%;"></td>
            </tr>   
            <tr>
                <td>结款人</td>
                <td>{$order.approadmin}</td>
            </tr>     
            <tr>
                <td  style=" width:120px;">结款时间</td>
                <td>{$order.approtime}</td>
            </tr>
            <tr>
                <td>凭证图片</td>
                <td style="max-height:500px;"><img style="max-width: 100%;" src="{$order.img}" alt=""></td>
            </tr>
        </tbody>
    </table>


    <script type="text/javascript" src="__STATIC__/layui/layui.js"></script>
    <script>
        layui.use(['form', 'table', 'jquery', 'laydate'], function () {
            var table = layui.table, form = layui.form, laydate = layui.laydate, $ = layui.jquery;
        });
    </script>

</body>

</html>