<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>我的账单</title>
    <link rel="stylesheet" href="__STATIC__/web/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/web/css/font/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/web/css/lib.css">
    <link rel="stylesheet" href="__STATIC__/web/css/swiper.min.css">
    <link rel="stylesheet" href="__STATIC__/web/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/web/css/style.css">
    <script src="__STATIC__/web/js/jquery.min_1.11.1.js"></script>
    <script src="__STATIC__/web/js/bootstrap.min.js"></script>
    <script src="__STATIC__/web/js/swiper.min.js"></script>
    <script src="__STATIC__/web/js/swiper.animate.min.js"></script>
    <script type="text/javascript" src="__STATIC__/web/js/org.min.js" data-main="indexMain"></script>
</head>

<body>
    {include file="/index/head"}
    <div id="newsPage" class="npagePage Pagenews">
        <div id="banner">
            <div style="background-image:url(http://resources.jsmo.xin/templates/upload/4101/201709/1505124501768.jpg);"></div>
        </div>
        <div class="content">
            <div class="header">
                <a href="usercenter.html">
                    <p class="title">我的账户</p>
                    <p class="subtitle">My account</p>
                </a>
            </div>
            <div id="category">
                <a href="/web/user/capital" {if $action eq "capital"}class="active"{/if}>资金管理</a>
                <a href="/web/user/agentorder" {if $action eq "agentorder"}class="active"{/if}>商户预约</a>
                <a href="/web/user/order" {if $action eq "orderdetail"}class="active"{/if}>我的保单</a>
                <!-- <a href="/web/user/bill" {if $action eq "bill"}class="active"{/if}>我的账单</a> -->
                <a href="/web/user/info" {if $action eq "info"}class="active"{/if}>个人资料</a>
                <a href="/web/user/security" {if $action eq "security"}class="active"{/if}>账户安全</a>
                <!-- <a href="/web/user/award" {if $action eq "award"}class="active"{/if}>推广奖励</a> -->
            </div>
            <div id="newslist" class="rightcon">
                <div class="wrapper usermsg policy">
                    <div class="black pdl">
                        车险分期账单
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr class="orange">
                                    <td class="text-left pdl" colspan="8">交强险账单</td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr class="gray">
                                    <td>1</td>
                                    <td>2</td>
                                    <td>3</td>
                                    <td>4</td>
                                    <td>5</td>
                                    <td>3</td>
                                    <td>4</td>
                                    <td>
                                        5
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr class="orange">
                                    <td class="text-left pdl" colspan="8">商业险分期账单</td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr class="gray">
                                    <td>1</td>
                                    <td>2</td>
                                    <td>3</td>
                                    <td>4</td>
                                    <td>5</td>
                                    <td>3</td>
                                    <td>4</td>
                                    <td>
                                        5
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</body>

</html>