
            <div class="header">
               <a href="usercenter.html">
                    <p class="title">我的账户</p>
                    <p class="subtitle">My account</p>
                </a>
            </div>
            <div id="category">
                <a href="userzjmanage.html">资金管理</a>
                <a href="useryuyue.html">商户预约</a>
                <a href="userpolicy.html">我的保单</a>
                <a href="userbill.html">我的账单</a>
                <a href="/web/user/info" {if $action eq "info"}class="active"{/if}>个人资料</a>
                <a href="useraccount.html">账户安全</a>
                <a href="usertg.html">推广奖励</a>
            </div>